<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문제 리스트</title>
    <link rel="stylesheet" th:href="@{/css/auth_solution_list.css}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">홈</a></li>
            <li><a th:href="@{/solution}">문제</a></li>
            <li><a th:href="@{/users/ranking}">랭킹</a></li>
            <li><a th:href="@{/js/mypage.js}">마이페이지</a></li>
            <li><a th:href="@{/js/logout.js}">로그아웃</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="problem-list">
        <h1>문제 리스트</h1>
        <table>
            <thead>
            <tr>
                <th>문제 제목</th>
                <th>난이도</th>
                <th>푼 사람 수</th>
            </tr>
            </thead>
            <tbody>
            // ai 문제생성 페이지로 수정 필요
            <tr>
                <a th:text="${solution.title}">
                    <button id="mypage-button" style="background-color: blue; color: white; padding: 15px 30px; font-size: 16px; border-radius: 10px; border: none; box-shadow: 0 4px #004080; transition: all 0.2s ease;">
                        AI 문제 생성
                    </button>
                </a>



            </tr>
            <tr th:each="solution : ${solutionList}">
                <td><a th:href="@{/solution/solve/{id}(id=${solution.id})}" th:text="${solution.title}">문제 제목</a></td>
                <td th:text="${solution.difficulty}">난이도</td>
                <td th:text="${solution.solved}">푼 사람 수</td>
            </tr>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<footer style="position: fixed; bottom: 0; width: 100%; background-color: #333; color: white; text-align: center; padding: 10px 0;">
    <p>&copy; 2024 코딩 테스트 웹사이트.</p>
</footer>


<script th:src="@{/js/auth_solution_list.js}"></script>

</body>
</html>
